@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-base: #F3F4F6;
        --color-content: #111827;
        --color-primary: #4f46e5;
        --color-secondary: #ECFDF5;
    }

    :root[data-theme="green"] {
        --color-base: #D1FAE5;
        --color-primary: #059669;
        --color-secondary: #ECFDF5;
        --color-content: #111827;
    }

    :root[data-theme="yellow"] {
        --color-base: #FEF3C7;
        --color-primary: #D97706;
        --color-secondary: #FFFBEB;
        --color-content: #111827;
    }

    :root[data-theme="purple"] {
        --color-base: #4C1D95;
        --color-primary: #D97706;
        --color-secondary: #fde047;
        --color-content: #FFFFFF;
    }
}